@page
@model CsPharma_V4.Pages.LineaDistribución.EditModel

@{
    ViewData["Title"] = "Editar";
}

<!-- Página de edición de las líneas de distribución-->

<h1>Editar</h1>

<h4>Líneas de distribución</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <!-- Formulario de edición de los campos -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TdcCatLineasDistribucion.CodLinea" />
            <div class="form-group">
                <label asp-for="TdcCatLineasDistribucion.MdUuid" class="control-label"></label>
                <input asp-for="TdcCatLineasDistribucion.MdUuid" class="form-control" />
                <span asp-validation-for="TdcCatLineasDistribucion.MdUuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatLineasDistribucion.MdDate" class="control-label"></label>
                <input asp-for="TdcCatLineasDistribucion.MdDate" class="form-control" />
                <span asp-validation-for="TdcCatLineasDistribucion.MdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatLineasDistribucion.CodLinea" class="control-label"></label>
                <input asp-for="TdcCatLineasDistribucion.CodLinea" class="form-control" readonly/> <!-- Usamos readonly para que solo pueda verse la información y no ser modificada-->
                <span asp-validation-for="TdcCatLineasDistribucion.CodLinea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatLineasDistribucion.CodProvincia" class="control-label"></label>
                <input asp-for="TdcCatLineasDistribucion.CodProvincia" class="form-control" />
                <span asp-validation-for="TdcCatLineasDistribucion.CodProvincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatLineasDistribucion.CodMunicipio" class="control-label"></label>
                <input asp-for="TdcCatLineasDistribucion.CodMunicipio" class="form-control" />
                <span asp-validation-for="TdcCatLineasDistribucion.CodMunicipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatLineasDistribucion.CodBarrio" class="control-label"></label>
                <input asp-for="TdcCatLineasDistribucion.CodBarrio" class="form-control" />
                <span asp-validation-for="TdcCatLineasDistribucion.CodBarrio" class="text-danger"></span>
            </div>
            <!-- Botón que guarda la información del formulario -->
            <div class="form-group">
                <input type="submit" value="Guardar" />
            </div>
        </form>
    </div>
</div>

<!-- Link para volver al index -->
<div>
    <a asp-page="./Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
