@page
@model CsPharma_V4.Pages.EstadoPedido.CreateModel

@{
    ViewData["Title"] = "Crear";
}

<!-- Página para crear los pedidos -->

<h1>Crear</h1>

<h4>Información del pedido</h4>
<hr />
        <div class="row">
            <div class="col-md-4">
        <!-- Formulario de creación de pedidos -->
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TdcTchEstadoPedido.CodPedido" />
                    <input type="hidden" asp-for="TdcTchEstadoPedido.MdUuid" />
                    <input type="hidden" asp-for="TdcTchEstadoPedido.MdDate"/>
                    <div class="form-group">
                        <label asp-for="TdcTchEstadoPedido.CodEstadoEnvio" class="control-label">Estado envío</label>
                        <select asp-for="TdcTchEstadoPedido.CodEstadoEnvio" class="form-control" asp-items="ViewBag.CodEstadoEnvio"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TdcTchEstadoPedido.CodEstadoPago" class="control-label">Estado pago</label>
                        <select asp-for="TdcTchEstadoPedido.CodEstadoPago" class="form-control" asp-items="ViewBag.CodEstadoPago"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TdcTchEstadoPedido.CodEstadoDevolucion" class="control-label">Estado devolución</label>
                        <select asp-for="TdcTchEstadoPedido.CodEstadoDevolucion" class="form-control" asp-items="ViewBag.CodEstadoDevolucion"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TdcTchEstadoPedido.CodLinea" class="control-label">Código de línea</label>
                        <select asp-for="TdcTchEstadoPedido.CodLinea" class="form-control" asp-items="ViewBag.CodLinea"></select>
                    </div>

            <!-- Botón que envía la información del formulario -->
            <div class="form-group">
                <input type="submit" value="Crear" />
            </div>
        </form>
    </div>
</div>

<!-- Botón que nos redirige al index -->
<div>
    <a asp-page="Index" class="btn btn-primary">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
