@page
@model CsPharma_V4.Pages.PagoPedido.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Estado de pago de pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TdcCatEstadosPagoPedido.CodEstadoPago" />
            <div class="form-group">
                <label asp-for="TdcCatEstadosPagoPedido.MdUuid" class="control-label"></label>
                <input asp-for="TdcCatEstadosPagoPedido.MdUuid" class="form-control" />
                <span asp-validation-for="TdcCatEstadosPagoPedido.MdUuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatEstadosPagoPedido.MdDate" class="control-label"></label>
                <input asp-for="TdcCatEstadosPagoPedido.MdDate" class="form-control" />
                <span asp-validation-for="TdcCatEstadosPagoPedido.MdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatEstadosPagoPedido.CodEstadoPago" class="control-label"></label>
                <input asp-for="TdcCatEstadosPagoPedido.CodEstadoPago" class="form-control" readonly /> <!-- Usamos readonly para que solo pueda verse la información y no ser modificada-->
                <span asp-validation-for="TdcCatEstadosPagoPedido.CodEstadoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatEstadosPagoPedido.DesEstadoPago" class="control-label"></label>
                <input asp-for="TdcCatEstadosPagoPedido.DesEstadoPago" class="form-control" />
                <span asp-validation-for="TdcCatEstadosPagoPedido.DesEstadoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
