@page
@model CsPharma_V4.Pages.EnvioPedido.EditModel

@{
    ViewData["Title"] = "Editar";
}

<!-- Página donde se edita el estado del envío de los pedidos-->

<h1>Editar</h1>

<h4>Estado de envío de pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <!-- Formulario para editar la información -->
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TdcCatEstadosEnvioPedido.CodEstadoEnvio" />
            <div class="form-group">
                <label asp-for="TdcCatEstadosEnvioPedido.MdUuid" class="control-label"></label>
                <input asp-for="TdcCatEstadosEnvioPedido.MdUuid" class="form-control" />
                <span asp-validation-for="TdcCatEstadosEnvioPedido.MdUuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatEstadosEnvioPedido.MdDate" class="control-label"></label>
                <input asp-for="TdcCatEstadosEnvioPedido.MdDate" class="form-control" />
                <span asp-validation-for="TdcCatEstadosEnvioPedido.MdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatEstadosEnvioPedido.CodEstadoEnvio" class="control-label"></label>
                <input asp-for="TdcCatEstadosEnvioPedido.CodEstadoEnvio" class="form-control" />
                <span asp-validation-for="TdcCatEstadosEnvioPedido.CodEstadoEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatEstadosEnvioPedido.DesEstadoEnvio" class="control-label"></label>
                <input asp-for="TdcCatEstadosEnvioPedido.DesEstadoEnvio" class="form-control" />
                <span asp-validation-for="TdcCatEstadosEnvioPedido.DesEstadoEnvio" class="text-danger"></span>
            </div>

            <!-- Botón para guardar el formulario y te redirige al index -->
            <div class="form-group">
                <input type="submit" value="Guardar" />
            </div>
        </form>
    </div>
</div>

<!-- Botón para volver al index sin hacer cambios -->
<div>
    <a asp-page="./Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
