html {
    font-size: 14px;
    background-color: #ffffff;
}

h1, h2, h3, h4 {
    color: #5dc1b9 !important;
}

body{
    color: #090909;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    background-color: #ffffff;
}

body {
  margin-bottom: 60px;
}

registerForm {
    border-radius: 16px;
    border-color: #5dc1b9;
    color: #5dc1b9;
    background-color: white;
}

button {
    border-radius: 25px;
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    color: #5dc1b9;
    border-color: #5dc1b9;
}

.form-control {
    border-radius: 25px;
    border-color: #5dc1b9;
    padding: 10px;
    width: 100%;
    color: #5dc1b9;
    margin-bottom: 2%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: black;
}

input {
    border-radius: 25px;
    padding: 15px;
    width: 50%;
    background-color: #ffffff;
    color: #5dc1b9;
    border-color: #5dc1b9;
}

.delete{
    width: 25%;
}

.filtro{
    width: 50%;
}

.filtroBtn{
    width: 50%;
    margin-bottom: 2%;
}

.btn{
    margin: 2%;
    border-radius: 20px;
}
