@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a CsPharma, pronto estarán todas las funcionalidades disponibles.</h1>
    
</div>
